a{
    color:white;
}
#wrapper{
    /*background:white url(http://www.toystore.info/images/American-Retro-Police-Car.jpg) no-repeat 0 0;*/
    position:relative;
    z-index:0;
    /*width:400px;
    height:400px;*/
}
#pos1{
    position:absolute;
    width:6%;
    height:4.6%;
    bottom:26.5%;
    left:23%;
    background-color: blue;
}
#pos2{
    position:absolute;
    width:7%;
    height:4.5%;
    bottom:26.8%;
    left:8%;
    background-color: orange;
}
#pos3{
    position:absolute;
    width:6%;
    height:4.6%;
    bottom:31.2%;
    left:36.35%;
    background-color: turquoise;
}
#pos4{
    position:absolute;
    width:7%;
    height:4.5%;
    bottom:18.5%;
    left:42.5%;
    background-color: burlywood;
}
#pos5{
    position:absolute;
    width:10.5%;
    height:4.6%;
    bottom:27.75%;
    left:63.5%;
    background-color: indianred;
}
#pos6{
    position:absolute;
    width:6%;
    height:4.6%;
    bottom:31.2%;
    left:49.3%;
    background-color: blueviolet;
}
#pos7{
    position:absolute;
    width:7%;
    height:4.2%;
    bottom:39%;
    left:63.7%;
    background-color: cyan;
}
#pos8{
    position:absolute;
    width:6%;
    height:4.6%;
    bottom:45.6%;
    left:68.6%;
    background-color: brown;
}
#pos9{
    position:absolute;
    width:7%;
    height:4.4%;
    bottom:58.5%;
    left:69.7%;
    background-color: red;
}
#pos10{
    position:absolute;
    width:7%;
    height:4.4%;
    bottom:67%;
    left:69.6%;
    background-color: yellow;
}
#pos11{
    position:absolute;
    width:7%;
    height:4.4%;
    bottom:77.5%;
    left:64.25%;
    background-color: green;
}
#pos12{
    position:absolute;
    width:6%;
    height:4.6%;
    bottom:85%;
    left:61.6%;
    background-color: brown;
}
#pos13{
    position:absolute;
    width:6%;
    height:4.6%;
    bottom:90.5%;
    left:91.7%;
    background-color: grey;
}
#pos14{
    position:absolute;
    width:6.5%;
    height:4.4%;
    bottom:57%;
    left:16%;
    background-color: brown;
}
#pos15{
    position:absolute;
    width:6.5%;
    height:4.4%;
    bottom:50.6%;
    left:16%;
    background-color: lightgreen;
}
#pos16{
    position:absolute;
    width:6.5%;
    height:4.4%;
    bottom:34%;
    left:16%;
    background-color: rgb(14, 110, 14);
}
#pos1:hover, #pos2:hover, #pos3:hover, #pos4:hover, #pos5:hover, #pos6:hover, #pos7:hover, #pos8:hover, #pos9:hover, #pos10:hover, #pos11:hover, #pos10:hover, #pos12:hover, #pos13:hover, #pos14:hover, #pos15:hover, #pos16:hover{
    border:1px solid red;
}
